.intro__cite-item {
    margin: 0px;
    list-style-type: none;

    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;

    color: #FFFFFF;
 }