@import url("_small/section-subtitle_small.css");
@import url("_large/section-subtitle_large.css");

.section-subtitle{
    
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;

    color: #FFFFFF;
    margin-top: 0px;
}


