@media (min-width : 1439px) {
    .intro_margin{
    margin-bottom: 6.375rem;
    padding-left: 100px;                  
    }
}

@media (min-width : 1279px) and (max-width : 1439px) {
    .intro_margin{
    margin-bottom: 6.375rem;
    padding-left: 178px
 
    }
}

@media (min-width : 1023px) and (max-width : 1279px) {
    .intro_margin{
        margin-bottom: 6.375rem;
        padding-left: 48px;
    }
}

@media (min-width : 767px) and (max-width : 1023px) {
    .intro_margin{
        margin-bottom: 6.0625rem;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width : 374px) and (max-width : 767px) {
    .intro_margin{
        margin-bottom: 4rem;
        padding-left: 16px;
        padding-right: 16px;

    }
}

@media (min-width : 319px) and (max-width : 374px) {
    .intro_margin{
        margin-bottom: 4rem;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width : 319px) {
    .intro_margin{
        margin-bottom: 4rem;
        padding-left: 16px;
        padding-right: 16px;
    }
}   