@import url("__author/footer__author.css");
@import url("__menu-item/footer__menu-item.css");
@import url("__menu/footer__menu.css");
@import url("__menu-ancor/footer__menu-ancor.css");
@import url("_margin/footer_margin.css");
@import url("__navigation/footer__navigation.css");

.footer{
    max-width: 1184px;
    width: 100%;
    
    min-width:288px;

    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;

    font-family: 'Inter', Arial, sans-serif;

    

}

@media (min-width : 1439px) {
    .footer{
                      
    }
}

@media (min-width : 1279px) and (max-width : 1439px) {
    .footer{

    }
}

@media (min-width : 1023px) and (max-width : 1279px) {
    .footer{

    }
}

@media (min-width : 767px) and (max-width : 1023px) {
    .footer{


    }
}

@media (min-width : 374px) and (max-width : 767px) {
    .footer{
        grid-template-columns: auto ;
        grid-template-rows: auto auto;
        grid-row-gap: 48px;

    }
}

@media (min-width : 319px) and (max-width : 374px) {
    .footer{
        grid-template-columns: auto ;
        grid-template-rows: auto auto;
        grid-row-gap: 48px;

    }
}

@media (max-width : 319px) {
    .footer{
        grid-template-columns: auto ;
        grid-template-rows: auto auto;
        grid-row-gap: 48px;
    }
}   

